<%- include("_header") -%>

<h1>Trajet PEDIBUS</h1>

<div>
    <h2>Meteo du jour</h2>
    <img id="wicon" src="http://openweathermap.org/img/w/<%= model.icon %>.png" alt="Weather icon">
    <p>Il fait  <%= model.temperature %> °C à Toulouse. Le temps est <%= model.description %>.</p>
</div>
<div>
    <h2>Trajet du jour</h2>
</div>
<%- include("_footer") -%>
