
<script>
    // websocket connection
    var idf = 0;    
    if ('WebSocket' in window) {
      var ws = new WebSocket("wss://127.0.0.1:8002/");
      ws.onmessage = function (event) {
        if (idf == 0) {
          idf = event.data; // Récupération de l'identifiant
        };
      };
    }
    // Envoie de la localisation en cas de problème
    function sendAlert() {     
      // send msg to server
      ws.send("Annulation de <%= model.nom %> <%= model.prenom %> pour le trajet du <%= model.date %>.");
    }
    </script>

<%- include("_header") -%>
<div class="container bg-light ">

<form action="/annuler/<%= model.dep_ID %>" method="POST" onsubmit="sendAlert()">
  <p>Voulez vous vraiment vous supprimer du déplacement du <%= model.date %> ?</p>
    <input type="submit" value="Annuler" class="btn btn-default btn-warning"/>
</form>
<br>
</div>
<%- include("_footer") -%>
