<%- include("_header") -%>
<%- include("_menu") -%>
<h1>Pedibus Toulouse Nord (<%= modelDist.length %>)</h1>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>date</th>
        <th>Prénom - Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for (const dep of modelDist) { %>
      <tr>
        <td><%= dep.date %> </td>
        <td>
          <% for (const dep2 of modelAll) { %>
          <% if (dep.date == dep2.date && dep2.participe == 1) { %>
          <%= dep2.prenom %> <%= dep2.nom %> <br>
          <% } %>
          <% } %>
        </td>
        <td>
          <a class="btn btn-sm btn-warning" href="/participer/<%= dep.dep_ID %>">Partiper</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>


<!-- <div id='calendar'></div> -->

<%- include("_footer") -%>