<%- include("_header") -%>
<%- include("_menu") -%>
<div class="container bg-light">
  <br><br>
  <div class="d-flex justify-content-center">
    <h1><b>PEDIBUS TOULOUSE NORD</b></h1>
  </div>
  <br><br>
  <div class="row">
    <div class="col-md-4">

      <!-- Meteo -->
      <h2>Meteo du jour</h2>
      <img id="wicon" src="http://openweathermap.org/img/w/<%= model.icon %>.png" alt="Weather icon">
      <p>Bonjour <b><%= modelUser.prenom %></b>. Il fait <%= model.temperature %> °C à Toulouse. Le temps est
        <%= model.description %>.</p>
      <!-- Partie alerting -->
      <div id="log" class="text-danger"></div>
      <script type="text/javascript" src='js/broadcast.js'></script>
      <!-- FIN Partie alerting -->

      <br><br>
      <div class="table-responsive-sm">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>date</th>
              <th>Prénom - Nom</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% for (const dep of modelDist) { %>
            <tr>
              <td><%= dep.date %> </td>
              <td>
                <% for (const dep2 of modelAll) { %>
                <% if (dep.date == dep2.date) { %>
                <% if (dep2.participe == 1){ %>
                <%= dep2.prenom %> <%= dep2.nom %> <br>
                <% } else { %>
                <del><%= dep2.prenom %> <%= dep2.nom %></del>
                <% } %>
                <% } %>
                <% } %>
              </td>
              <td>
                <a class="btn btn-sm btn-success" href="/participer/<%= dep.dep_ID %>">Participer</a>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-8">
      <h2>Parcours du pedibus</h2>
      <!-- Maps -->
      <div id="mapid"></div>
      <br>
      <div class="text-danger"><p>Le trajet est assuré seulement si deux parents minimum sont inscrits !!</p></div>
      <script type="text/javascript" src='js/maps.js'></script>
    </div>
  </div>

  <%- include("_footer") -%>