<%- include("_header") -%>
<%- include("_menu") -%>
<h1>Pedibus Toulouse Nord (<%= modelDist.length %>)</h1>

<div class="row">
  <div class="col-md-4">
      <!-- Meteo -->
      <h2>Meteo du jour</h2>
      <img id="wicon" src="http://openweathermap.org/img/w/<%= model.icon %>.png" alt="Weather icon">
      <p>Il fait <%= model.temperature %> °C à Toulouse. Le temps est <%= model.description %>.</p>
  </div>
  <div class="col-md-8">
      <!-- Maps -->
      <div id="mapid"></div>
      <script type="text/javascript" src='js/maps.js'></script>
  </div>
</div>

<div class="table-responsive-sm">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>date</th>
        <th>Prénom - Nom</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for (const dep of modelDist) { %>
      <tr>
        <td><%= dep.date %> </td>
        <td>
          <% for (const dep2 of modelAll) { %>
          <% if (dep.date == dep2.date && dep2.participe == 1) { %>
          <%= dep2.prenom %> <%= dep2.nom %> <br>
          <% } %>
          <% } %>
        </td>
        <td>
          <a class="btn btn-sm btn-warning" href="/participer/<%= dep.dep_ID %>">Partiper</a>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
</div>
<!-- Partie alerting -->
<div id="log"></div>
<script type="text/javascript" src='js/broadcast.js'></script>
<!-- FIN Partie alerting -->



<!-- <div id='calendar'></div> -->

<%- include("_footer") -%>